.about-section{
  padding-top: 2rem;
  background: linear-gradient(to bottom, 
    #{fade-out($flg-gold, .0)} 0%,
    #{fade-out($flg-gold, .1)} 75%,
    #{fade-out($flg-green, .01)});
  p {
    margin-bottom: 5rem;
    text-shadow: 1px 1px 4px #000
  }
  h1{
    text-shadow: 1px 1px 4px #000;
  }

}
