#mainNav {
  min-height: 56px;
  background-color: $flg-gold;
  color: white;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: white;
    border: 2px solid white;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: white;
    font-weight: 700;
    padding: .9rem 0;
    text-shadow: 1px 1px 4px #000;
  }
  .navbar-nav {
    .nav-link#our-mission{
      color: $black;
      &:hover {
        color: fade($black, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &focus {outline: none;
        background-color: transparent;
      }
    }
    .nav-link#about{
      color: $flg-green;
      &:hover {
        color: fade($flg-green, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &focus {outline: none;
        background-color: transparent;
      }
    }
    .nav-link#contact{
      color: $flg-blue;
      &:hover {
        color: fade($flg-blue, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &focus {outline: none;
        background-color: transparent;
      }
    }
    .nav-link#projects{
      color: $flg-red;
      &:hover {
        color: fade($flg-red, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &focus {outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($white, .15);
    }
    .nav-link#our-mission{
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($black, .15);
      &:hover {
        color: fade-out($black, .05);
      }
      &:active {
        color: $black;
      }
    }
    .nav-link#about{
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($flg-green, .15);
      &:hover {
        color: fade-out($flg-green, .05);
      }
      &:active {
        color: $flg-green;
      }
    }
    .nav-link#contact{
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($flg-blue, .15);
      &:hover {
        color: fade-out($flg-blue, .05);
      }
      &:active {
        color: $flg-blue;
      }
    }
    .nav-link#projects{
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($flg-red, .15);
      &:hover {
        color: fade-out($flg-red, .05);
      }
      &:active {
        color: $flg-red;
      }
    }
    &.navbar-shrink {
      background-color: $flg-gold;
      .navbar-brand {
        color: $white;
      }
      
      .nav-link#our-mission{
        color: $black;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $black;
        }
        &:active {
          color: darken($black, 15%);
        }
        &.active {
          color: $black;
          outline: none;
          border-bottom: 0.25rem solid $black;
        }
      }

      .nav-link#about{
        color: $flg-green;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $flg-green;
        }
        &:active {
          color: darken($flg-green, 15%);
        }
        &.active {
          color: $flg-green;
          outline: none;
          border-bottom: 0.25rem solid $flg-green;
        }
      }

      .nav-link#contact{
        color: $flg-blue;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $flg-blue;
        }
        &:active {
          color: darken($flg-blue, 15%);
        }
        &.active {
          color: $flg-blue;
          outline: none;
          border-bottom: 0.25rem solid $flg-blue;
        }
      }

      .nav-link#projects{
        color: $flg-red;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $flg-red;
        }
        &:active {
          color: darken($flg-red, 15%);
        }
        &.active {
          color: $flg-red;
          outline: none;
          border-bottom: 0.25rem solid $flg-red;
        }
      }
    }
  }
  .fa-bars{
    padding-left: 5px;
  }
}

.page-navbar{
  background-color: $flg-gold !important;
}