.breakdown-section {
  padding: 10rem 0;
  background: linear-gradient(
      to bottom,
      #{fade-out($flg-blue, 0)} 5%,
      #{fade-out($flg-red, 0.5)} 75%,
      $flg-red 100%
    ),
    url('../images/mseki.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $flg-gold;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
  .donation-table{
    height: inherit;
  }
}
